DialogueNode #title {
    background-color: rgb(205, 114, 7);

    flex: none;
}

DialogueNode
{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: auto;
    background-color: rgb(62, 62, 62);
}